/* Web Fonts ----------------------- */

/* Base Styles ---------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  /* border: solid 1px red;   to test borders  */
}
body {
  background-color: ghostwhite;
}
/* 👀 Nav Styles ---------------------*/
header li {
  color: black;
}

nav h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

body {
  margin: 0 auto; /* removes default margin it makes top bottom 0 and left right auto */
  max-width: 1024px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

/* body {
  color: black; 
  background-color: #093145; 
} */

ul {
  list-style: none; /* removes default bullet points */
  padding-left: 0; /* removes default left identation */
}

a {
  text-transform: uppercase;
  color: black;
  text-decoration: none; /* removes default underlining of links identation */
}

h1,
.top-nav {
  text-align: center;
}

.top-nav,
.top-nav a {
  width: 100%;
}

.top-nav li {
  background-color: white;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  color: black;
}

.top-nav a {
  text-transform: uppercase;
}

nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  padding: 25px;
}

.jumbotron {
  padding: 0px 25px;
}

.jumbotron img {
  display: block;
  margin: auto;
  padding: 0px 25px 25px 25px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.jumbotron p {
  padding: 0px 0px 25px 0px;
  letter-spacing: 0.05em;
  text-align: justify;
  text-justify: inter-word;
}

/* 💼 Portfolio Styles ---------------------*/
.portfolio {
  background-color: white;
  padding: 25px;
}

main h2 {
  text-align: center;
  padding: 25px;
}

.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto; /* This centers it horizontally */
  font-family: "Roboto", sans-serif;
}

.container img {
  max-width: 100%;
}

.col h3,
p {
  /* border: solid 1px red;    */
  padding: 10px;
  font-weight: normal;
}

.col {
  margin: 10px;
  min-height: 250px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

/* 
.box-1 {
  background-color: #093145;
}

.box-2 {
  background-color: #3c6478;
}

.box-3 {
  background-color: #107896;
}

.box-4 {
  background-color: #829356;
}

.box-5 {
  background-color: #c2571a;
}

.box-6 {
  background-color: #9a2617;
} */
.bold {
  font-weight: 500;
}

.contact h2, p
 {
  padding: 10px 20px;
  text-align: center;
  /* border: solid 1px red;   to test borders  */
}

/* Footer Styles ---------------------*/
.full {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
}

/* Media Queries ---------------------*/

@media (min-width: 768px) {
  /* body {
    background-color: blue;
  } */
  /* 👀 Nav Styles ---------------------*/
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }
  .top-nav li:last-child {
    margin-right: 0;
  }

  .jumbotron {
    display: flex;
    justify-content: space-between;
  }

  .item-2 {
    order: -1;
  }

  /* 💼 Portfolio Styles ---------------------*/
  .container {
    display: flex; /* this makes all the boxes go into one row */
    flex-wrap: wrap; /* This will make boxes wrap to a new row once flex basis is 100% */
  }
  .col {
    flex-basis: calc(
      50% - 20px
    ); /*ensure the boxes take up exactly 50% in our 2 column layout without breaking to a new line due to the 20px total left and right margin we added in the mobile-first code.*/
  }
  .contact p {
    padding: 10px 100px;
  }
  }

  
  /* Footer Styles ---------------------*/
  .top {
    display: none;
  }
  .full {
    display: inline-block;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  /* body {
    background-color: blueviolet;
  } */
  /* 👀 Nav Styles ---------------------*/
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .jumbotron img {
    padding: 0px 0px 25px 25px;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }
  /* 💼 Portfolio Styles ---------------------*/
  .col {
    flex-basis: calc(
      33.333% - 20px
    ); /*removing the margins we set from the 33.333% width we want the items to take up.*/
  }
}
