/* Web Fonts ----------------------- */

/* Base Styles ---------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: solid 1px red;
  /* to test borders */
}

body {
  margin: 0 auto; /* removes default margin it makes top bottom 0 and left right auto */
  max-width: 1024px;
}

ul {
  list-style: none; /* removes default bullet points */
  padding-left: 0; /* removes default left identation */
}

a {
  text-decoration: none; /* removes default underlining of links identation */
}

h1,
.top-nav {
  text-align: center;
}

.top-nav,
.top-nav a {
  width: 100%;
}

h1 a,
.top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

/* Main Styles ---------------------*/
nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #829356;
  padding: 25px;
}

/* Media Queries ---------------------*/

@media (min-width: 760px) {
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }
  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }
}
